[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zarathecat
[access "refs/for/refs/*"]
	read = group user/Zarathecat
	push = group user/Zarathecat
	label-Code-Review = -2..+2 group user/Zarathecat
	label-Verified = -1..+1 group user/Zarathecat
	rebase = group user/Zarathecat
	removeReviewer = group user/Zarathecat
	submit = group user/Zarathecat
[access "refs/heads/*"]
	read = group user/Zarathecat
	create = group user/Zarathecat
	push = +force group user/Zarathecat
	pushMerge = group user/Zarathecat
[access "refs/tags/*"]
	push = +force group user/Zarathecat
	pushTag = group user/Zarathecat
	pushSignedTag = group user/Zarathecat
